*{
  margin:0;
  padding:0;
}
html{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-repeat: no-repeat;
  min-height:100%;
  width:100%;
}
h1 {
  font-size: 4vw;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#404447;
  text-decoration: none;
}
h2{
  text-align: center;
  font-size:2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#404447;
  padding-top:.5em;
  padding-bottom:.5em;
  text-decoration: none;
}
a{
  text-decoration: none;
}
p{
  text-align: center;
  font-size:1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#404447;
}

 input{
  max-height: 2.5em;
  max-width: 35em;
  padding: 1em;
  border: none;
  border-radius: 1vw;
  text-decoration: none;
  font-size:1em;
  outline:none;
  text-align:center ;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.609);
}
button{
 
  min-width:6em;
  margin-top: 1.5em;
  margin-bottom:1.5em;
  margin-left:1em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 1em;
  padding: 1em;
  border: none;
  text-align: center;
  font-size:1em;
  text-decoration: none;
  outline:none;
  background-color: rgba(255, 255, 255, 0.486);  
  transition:all .25s;
}
button:hover{
  background-color: rgba(211, 206, 206, 0.582);
}


form{
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  outline:none;
   
}
table{
  width:100%;
  border:none;
  margin-left: auto;
  margin-right:auto;
}
td{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#404447;
  font-size: 1.5em;
  text-align: center;
}
th{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#404447;
  font-size: 2em;
  text-align: center;
}
details{
  max-width:20em;
  max-height: 30em;
  margin-left:auto;
  margin-right:auto;
  margin-top:3vh;
  margin-bottom:1vh;
  overflow:hidden;
  padding-right: 3vw;
  padding-left: 3vw;
  padding-top:2vh;
  padding-bottom:1vh;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0,0,0, .25);
  background-color: rgba(255, 255, 255, .30);  
  backdrop-filter: blur(10px);
  border:none;
  outline:none;
  transition:all .2s ease-in-out;
}
details[open]{
 max-height:200vw;
 max-width:80vw;
}
summary{
  display: block;
  min-height:30em;
}
#container{
  min-height: 100%;
  min-width:100%;
  margin-bottom: 4vh;
  position: relative;
}
.glass{
  z-index:0;
  max-width: 45vw;
  position:static;
  padding:2em;
  margin-top:8vw;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0,0,0, .25);
  background-color: rgba(255, 255, 255, .30);  
  backdrop-filter: blur(10px);
}
#searchResults{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
#FavoritesResults{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}
#WatchListResults{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
#HomeResults{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}


nav{
  top:0;
  position:fixed;
  width:100%;
  z-index:10;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding:.5vw;
  margin:0;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0,0,0, .25);
  background-color: rgba(255, 255, 255, .30);  
  backdrop-filter: blur(10px);
  transition:all .5ms;
}
nav p{
  font-weight:bold;
  font-size: 2.25em;
}
nav p:hover{
  color:gray;
  cursor:pointer;
} 
#Home{
  display:none;
}
#Menu{
  display:none;
}
#SearchTab{
  display:none;
}

#WatchListResults{
  display:none;
}
#searchNav{
  display:none;
}

#MenuNameWatchList{
  display:none;
}
.WatchListClear{
  display:none;
}
#dialog{
  display:none;
  z-index:1000;
  max-width: 45vw;
  position:relative;
  padding:2em;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0,0,0, .25);
  background-color: rgba(255, 255, 255, .30);  
  backdrop-filter: blur(10px);
}
#searchNavContain{
  display:flex;
  margin-left: auto;
  margin-right:auto;
  width:40%;
  justify-content: center;
}
#WatchListNav{
  display:None;
}
#FavoritesNav{
 display:None;
}

.FavoritesToggle:hover{
  cursor: pointer;
  color:gray;
}
.WatchListToggle:hover{
  cursor:pointer;
  color:gray;
}
.MenuMovieToggle:hover{
  cursor:pointer;
  color:gray;
}
.MenuTvToggle:hover{
  cursor:pointer;
  color:gray;
}
.SearchMovieToggle:hover{
  cursor:pointer;
  color:gray;
}
.SearchTvToggle:hover{
  cursor:pointer;
  color:gray;
}
.searchbox{
  text-align:center;
}
.container {
  height: 3vh;
  position: relative;
}
.ButtonCenter{
 display:flex;
 align-items: center;
 justify-content: center;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#displayOption{
  max-width: 20vw;
  position:static;
  padding:.5em;
  margin-top:1vw;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0,0,0, .25);
  background-color: rgba(255, 255, 255, .30);  
  backdrop-filter: blur(10px);
}
#displayOption table{
  margin:auto;
  
}
#displayOption tr{
  text-align: center;
}
#displayOption td{
  width:5em;
}
#MenuToggle{
  z-index:0;
  max-width: 35vw;
  position:static;
  padding:.75em;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top:8vw;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0,0,0, .25);
  background-color: rgba(255, 255, 255, .30);  
  backdrop-filter: blur(10px);  
}
#MenuToggle p:hover{
  cursor:pointer;
  color:gray;
}
#cast{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow:scroll;
  overflow-y:hidden;
}
#castMember{
  max-width:15em;
  max-height: 30em;
  margin-left:auto;
  margin-right:auto;
  margin-top:3vh;
  margin-bottom:1vh;
  padding-right: 3vw;
  padding-left: 3vw;
  padding-top:2vh;
  padding-bottom:1vh;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0,0,0, .25);
  background-color: rgba(255, 255, 255, .30);  
  backdrop-filter: blur(10px);
  border:none;
  outline:none;
}
